@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.header, .container-1, .footer {
    background-color: #1f2937;
}


h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

h2 {
    font-size: 24px;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 20px;
}

.links {
    display: flex;
    gap: 16px;
}

ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    color: #e5e7eb;
    font-size: 18px;
}

.container-1 {
    display: flex;
    max-width: fit-content;
    color: #e5e7eb;
    align-items: flex-start;
    padding: 90px 130px;
    gap: 90px;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-text {
    font-size: 18px;
    word-wrap: normal;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.right {
    display: flex;
    flex: 1;
}

.lume {
    max-width: 100%;
    border-radius: 10px;
}

.image {
    object-fit: cover;
    max-width: 250px;
    height: 200px;
    border-radius: 10px;
}

<<<<<<< HEAD
.sign-up-one {
=======
button {
>>>>>>> 09e6c0ae655a481b0c987e659640c4eed5c03990
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 35px;
    border-radius: 5px;
    margin: 0px;
    border: 0;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 180px;

}

.random {
    text-align: center;
    color: #1f2937;
    margin-bottom: 60px;
}

.content {
    display: flex;
<<<<<<< HEAD
    margin-bottom: 100px;
    text-align: center;
    font-weight: 500;
=======
    margin-bottom: 120px;
>>>>>>> 09e6c0ae655a481b0c987e659640c4eed5c03990
    gap: 30px;
}

.item {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.container-3 {
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 80px 200px;
=======
    background-color: #e5e7eb;
    padding: 40px 180px;
>>>>>>> 09e6c0ae655a481b0c987e659640c4eed5c03990
}

.quote {
    color: #1f2937;
<<<<<<< HEAD
    font-size: 30px;
    font-weight: 200;
    font-style: italic;
}

h4 {
    text-align: end;
}

.container-4 {
    display: flex;
    padding: 80px 140px;
    margin: auto;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
    background-color: #3882f6;
    padding: 35px 70px;
    border-radius: 8px;
}

.cta {
    display: flex;
    flex-direction: column;
}

.title {
    color: #e5e7eb;
    font-weight: bold;
    font-size: 19px;
}

.text {
    color: #e5e7eb;
    font-size: 16px;
    text-align: left;
}

.sign-up-two {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 35px;
    border-radius: 5px;
    margin: 0px;
    border-color: #f9faf8;
    border-width: 2px;
    border-style: solid;
    fill: none;
}

.footer {
    background-color: #1f2937;
    font-size: 14px;
    padding: 20px;
    color: #f9faf8;
    text-align: center;
}
=======
    font-size: 24px;
    font-weight: 200;
    font-style: italic;
}
>>>>>>> 09e6c0ae655a481b0c987e659640c4eed5c03990
